{% extends "base.html" %}
{% block body %}
    <div class="container">

            <nav class="navbar navbar-default fixed-top ml-auto">
                    <button id="submit" type="button" class="btn btn-primary">update</button>
            </nav>

        <div class="card">
            <!--INFO-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                     <h4 class="card-title">
                            <a data-toggle="collapse" href="#infocollapse">Basic Info</a> 
                        </h4>
                    </div>
                </div>
                <div class="card-body collapse show" id="infocollapse" >
                    <div class="row">
                        <div class="column xl">
                            <img class="card-img-top" src="{{character.image.url}}" style="max-width:200px; max-height:200px" alt="Card image cap">
                        </div>
                        <div class="column xl">
                            <p>Character name: <span id="character-name" contenteditable="true">{{ character.name }}</span></p>
                            <p>Character Class: <span id="character-class" contenteditable="true">{{ character.char_class }}</span></p>
                            <p>Level:<input id="character-level" type = "number" step="1" value="{{ character.level }}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--STATS-->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" href="#statscollapse">Stats</a> 
                    </h4>
                </div>
                <div class="card-body collapse" id="statscollapse">
                    {% for i, v in stats.items %}

                        <p>{{i}} :<span class="d-inline p-2 bg-dark text-white"><input id="character-stat-{{i}}" class="character-stats" type="number" step="1" value="{{ v }}" style="width:50px;"></span></p>
                    {% endfor %}
                </div>
            </div>
            <!-- INVENTORY -->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" href="#inventorycollapse">Inventory</a> 
                    </h4>
                </div>
                <div class="card-body collapse" id="inventorycollapse">
                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Weapon:</th>
                                    <th scope="col">To Hit</th>
                                    <th scope="col">Damange</th>
                                    <th scope="col">Weight</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for i in inventory %}
                                  <tr>
                                    <th scope="row">{{ i.weapon.name }}</th>
                                    <td>{{ i.weapon.to_hit }}</td>
                                    <td>{{ i.weapon.damage }}</td>
                                    <td>{{ i.weapon.weight }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                        </table>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() { 
            $('#submit').click(function() {
                var name = $("#character-name").text();
                var level = $("#character-level").val();
                var char_class = $("#character-class").text();
                var stats = {
                        "name":name,
                        "level": level,
                        "class": char_class,
                        "strength":$("#character-stat-strength").val(),
                        "dexterity":$("#character-stat-dexterity").val(),
                        "constitution":$("#character-stat-constitution").val(),
                        "intelligence":$("#character-stat-intelligence").val(),
                        "wisdom":$("#character-stat-wisdom").val(),
                        "charisma":$("#character-stat-charisma").val()
                    }
                //NOTE: we want to do something to santize hmtl before making a post request
                var data = {
                    form:JSON.stringify(stats),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
                url = '/character/update/' + '{{character.id}}' + '/';
                $.ajax({
                    url:url,
                    method:'POST',
                    data: data,
                    success: function(data){
                        if(data.success){
                            alert("character updated!")
                        }
                    }
                })
            })
        })

    </script>
{% endblock %}

//handling character sheet changes:
    // submit button reads data from input 
    // makes ajax call without reloading page
    // runs function to recalculate all derived values
