{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="card">
            <!--INFO-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                     <h4 class="card-title">
                            <a data-toggle="collapse" href="#infocollapse">Basic Info</a> 
                        </h4>
                    </div>
                </div>
                <div class="card-body collapse show" id="infocollapse" >
                    <div class="row">
                        <div class="column xl">
                            <img class="card-img-top" src="{{character.image.url}}" style="max-width:200px; max-height:200px" alt="Card image cap">
                        </div>
                        <div class="column xl">
                            <p>Character name: {{ character.name }}</p>
                            <p>level: {{ character.level }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--STATS-->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" href="#statscollapse">Stats</a> 
                    </h4>
                </div>
                <div class="card-body collapse" id="statscollapse">
                    {% for i, v in stats.items %}
                        <p>{{i}} :<span class="d-inline p-2 bg-dark text-white">{{ v }}</span></p>
                    {% endfor %}
                </div>
            </div>
            <!-- INVENTORY -->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <a data-toggle="collapse" href="#inventorycollapse">Inventory</a> 
                    </h4>
                </div>
                <div class="card-body collapse" id="inventorycollapse">
                    {% for i in inventory %}
                        <p>{{i.weapon.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

//handling character sheet changes:
    // submit button reads data from input 
    // makes ajax call without reloading page
    // runs function to recalculate all derived values
