{% extends "base.html" %}
{% block body %}

    <div class="container">
        <!-- <nav class="navbar navbar-default fixed-top ml-auto">
            <a href="{% url 'post_update' post.id  %}">
                <button type="button" class="btn btn-primary">Update</button>
            </a>
        </nav> -->
        <!--INFO-->
        <!-- Page Header -->

                    <div class="row">
                        <div class="post-heading">
                            <a href="{% url 'post_update' post.id  %}" style="float:right;">
                                <button type="button" class="btn btn-primary btn-icon">
                                    <ion-icon name="document-text-sharp"></ion-icon>
                                </button>
                            </a>
                            <h1>{{ post.title }}</h1>

                            <!-- <h4 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                            <span class="meta">Posted by
                            <a href="#">Start Bootstrap</a>
                            on August 24, 2019</span>
                        </div>
                    </div>
        <div class="collapse show" id="infocollapse" >
            <div class="row">
                <div class="column xl">
                    {% if post.image %}
                        <!-- <img class="card-img-top" src="{{post.image.url}}" style="max-width:200px; max-height:200px" alt="Card image cap"> -->
                    {% endif %}
                </div>
                <div class="column xl">
                    <p>{{ post.body }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

//handling post sheet changes:
    // submit button reads data from input 
    // makes ajax call without reloading page
    // runs function to recalculate all derived values
